<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Your password has been changed</h1>
    <h2>Below are your credectials</h2>
    <table style="width: 100%; border-collapse: collapse; border: 1px solid #ccc;">
        <tr>
            <td style="font-weight: bold; border: 1px solid #ccc; padding: 8px;">Employee ID:</td>
            <td style="border: 1px solid #ccc; padding: 8px;">{{ empcode }}</td>
        </tr>
        <tr>
            <td style="font-weight: bold; border: 1px solid #ccc; padding: 8px;">Username:</td>
            <td style="border: 1px solid #ccc; padding: 8px;">{{ username }}</td>
        </tr>
        <tr>
            <td style="font-weight: bold; border: 1px solid #ccc; padding: 8px;">Password:</td>
            <td style="border: 1px solid #ccc; padding: 8px;">{{ password }}</td>
        </tr>
    </table>
    <strong>Please keep your credentials with utmost safety</strong>
</body>
</html>